/*stylesheet for website*/

.container	{
	width: 100%;
	margin:	0, auto;
	display: block;
	background-color: 		}

h1	{
	font-size: 2em;
	line-height: .5;	}

h2	{
	font-size: 1.2em;
	line-height: 1;		}

#header {
	font-family: "Fauna One", serif;
	padding-bottom: 0px;
	margin-top: -10px;
	padding-top: 15px;
	display: block;
	position: fixed;
	height: 100px;
	width: 100%;
	z-index: 10;
	background-color: white;
	box-shadow: 0 5px 5px -5px #a1a1a1;
}
#name	{
	display: inline;
	float: left;
	padding-left: 25px;
}

#nav	{
	text-decoration: none;
	font-family: "Enriqueta", serif;
	font-size: 1.25em;
	color: black;
	text-transform: uppercase;
	float: left;
	text-align: left;	}
	#nav ul li 	{
		font-family: "Enriqueta", serif;
		display: inline-block;
		padding-top: 10px;
		padding-left: 25px;
		padding-right: 25px;
		padding-bottom: 10px;	}
	#nav ul li a 	{
		text-decoration: none;
		color: black;}
	#nav ul li a:hover	{
		color: #a1a1a1;}

	#nav ul li a.active:hover	{
		color: #000000;	}	
	#nav ul li.active		{
	background-color: #cccccc;	}

#header #name h3 	{
	font-family: "Fauna One", serif;
	text-transform: none;
}

#content {
	position: relative;
	display: block;
	font-family:"Droid Sans", sans-serif;
	padding: 150px 100px 50px 100px;
	width: 75%;
	margin-left: 0px;
	margin-right: auto;
	float: left;
}
	#content h2	{
		font-size: 1.75em;
		line-height: .5;
		text-transform: uppercase;
		margin-left: -25px;
	}
	#content a 	{
		text-decoration: none;
		color: #a1a1a1;
	}
	#content a:hover	{
		text-decoration: none;
		color: #cccccc;
	}
	#content p 	{
		padding: auto;
	}

	#content table 	{
		table-layout: fixed;
	}

.title 	{
	text-transform: uppercase;
	font-family: "Enriqueta";
	font-size: 1em;
	font-style: bold;
	line-height: .25;
}

.date	{
	text-transform: uppercase;
	font-family: "Enriqueta";
	font-size: .85em;
	line-height: .25;
}

.span5 h3	{
	text-transform: uppercase;
	font-family: "Enriqueta";
	font-size: 1.25em;
}

.span7 ul li 	{
	font-family: "Droid Sans";
}

#tabs	{
	position: relative;
	top: 200px;
	left: 25px;
	display: block;
	float: left;
	z-index: 8;
}

#tabs ul	{
	width: 75%;
	position: fixed;
	top: 150px;
	left: 75px;
}

#tabs ul li	{
	list-style-type: none;
	font-size: 30px;
	line-height: 2;
	width: 50px;
	text-transform: uppercase;
} 

#tabs a 	{
	color: #a1a1a1;
}

#tabs a:hover 	{
	text-decoration: none;
	color: #000000;
}

#tabs a:active	{
	text-decoration: none;
	color:#a1a1a1;
}

#tabs h3 a 	{
	color: #000000;
}

#tabs h3 a:hover 	{
	color: #a1a1a1;
}

#data, #writing, #multimedia	{
	display: inline-black;
	float: right;
	font-size: 1em;
	position: relative;
	left: 25px;
	bottom: 225px;
	padding-left: 250px;
	text-align: left;
	z-index: 5;
}

.project-img	{
	float: left;
	width: 160px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.project	{
	text-align: left;
	clear: left;
	position: relative;
	width: 60%;
	left: 190px;
	bottom: 250px;
	margin-bottom: 50px;
}

.project a:active	{
	text-decoration: none;
	color: #cccccc;}

.project a:hover	{
	text-decoration: none;
	color: #000000;
}

.project-text a:active	{
	text-decoration: none;
	color: #000000;
}

.project-text a:hover 	{
	text-decoration: none;
	color: #a1a1a1;
}

#social	{
	text-align: center;
}

.iconimage	{
	height: 50px;
	width: 50px;
}

#footer	{
	clear: both;
	margin: auto;
	display: block;
	position: relative;
	float: center;
	margin-bottom: 25px;
	z-index: 10;
}

#footer p{
	font-family:"Droid Sans", sans-serif;
	text-align: center;
}
